In [2]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

Using the pandas read_csv() function, read the GDP dataset into your
notebook as a DataFrame called gdp_df
Take a look at the first 10 rows.
Look at the last 5 rows. Do you see a problem?
Redo the read_csv() call to correct this issue - do not modify the
original csv file.

In [3]:
gdp_df = pd.read_csv("gdppercap.csv")
# iuse = pd.read_csv("UNInternetusage.csv",error_bad_lines=False)

In [4]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN
6     Afghanistan  2012  1772.764974              NaN
7     Afghanistan  2011  1626.764793              NaN
8     Afghanistan  2010  1671.581238              NaN
9     Afghanistan  2009  1502.354073              NaN

In [6]:
ngdp_df = gdp_df.drop(gdp_df.index[-2:])

Drop the ‘Value Footnotes’ column, and rename the remaining columns to
‘Country’, ‘Year’, and ‘GDP_Per_Capita’

In [7]:
ngdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
6724        Zimbabwe  1994  2768.309953              NaN
6725        Zimbabwe  1993  2572.870395              NaN
6726        Zimbabwe  1992  2591.007534              NaN
6727        Zimbabwe  1991  2906.272849              NaN
6728        Zimbabwe  1990  2819.549467              NaN

In [8]:
nngdp_df = ngdp_df.drop("Value Footnotes", axis=1)

In [9]:
new_columns = {'Country or Area' : 'Country',
               'Year': 'Years',
               'Value': 'GDP',}
nngdp_df.rename(columns = new_columns, inplace=True)

In [10]:
nngdp_df.tail()

       Country Years          GDP
6724  Zimbabwe  1994  2768.309953
6725  Zimbabwe  1993  2572.870395
6726  Zimbabwe  1992  2591.007534
6727  Zimbabwe  1991  2906.272849
6728  Zimbabwe  1990  2819.549467

In [11]:
nngdp_df.head()

       Country Years          GDP
0  Afghanistan  2018  1734.723214
1  Afghanistan  2017  1758.465636
2  Afghanistan  2016  1757.023490
3  Afghanistan  2015  1766.593077
4  Afghanistan  2014  1795.735834

In [12]:
nngdp_df.tail()

       Country Years          GDP
6724  Zimbabwe  1994  2768.309953
6725  Zimbabwe  1993  2572.870395
6726  Zimbabwe  1992  2591.007534
6727  Zimbabwe  1991  2906.272849
6728  Zimbabwe  1990  2819.549467

How many rows and columns does gdp_df have? What are the data types
of its columns? If any of the columns are not the expected types, figure
out why and fix it.

In [13]:
nngdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6729 entries, 0 to 6728
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  6729 non-null   object
 1   Years    6729 non-null   object
 2   GDP      6729 non-null   float64
dtypes: float64(1), object(2)
memory usage: 210.3+ KB

3 columns and 6731 rows. The data for country and years are object. The gdp is a float.

In [14]:
nngdp_df['Years'].astype(float)

0       2018.0
1       2017.0
2       2016.0
3       2015.0
4       2014.0
         ...
6724    1994.0
6725    1993.0
6726    1992.0
6727    1991.0
6728    1990.0
Name: Years, Length: 6729, dtype: float64

Which years are represented in this dataset? Take a look at the number of
observations per year. What do you notice?

In [15]:
nngdp_df['Years'].unique()

array(['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003',
       '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995',
       '1994', '1993', '1992', '1991', '1990'], dtype=object)

In [16]:
nngdp_df['Years'].value_counts()

2011    243
2013    241
2012    241
2010    241
2009    241
2015    240
2014    240
2008    240
2016    239
2017    239
2007    239
2002    238
2003    238
2006    238
2004    238
2005    238
2001    237
2000    236
1999    228
1998    227
1997    226
2018    226
1995    224
1996    224
1994    218
1993    215
1992    213
1991    211
1990    210
Name: Years, dtype: int64

How many countries are represented in this dataset? Which countries are
least represented in the dataset? Why do you think these countries have
so few observations?

In [17]:
nngdp_df['Country'].value_counts()

Uzbekistan                   29
Guinea                       29
Malta                        29
IBRD only                    29
Georgia                      29
                             ..
Nauru                        12
Sint Maarten (Dutch part)     9
South Sudan                   8
Turks and Caicos Islands      8
Djibouti                      1
Name: Country, Length: 243, dtype: int64

In [18]:
nngdp_df['Years'=2014].describe()

SyntaxError: invalid syntax (<ipython-input-18-aaa7379cb6d5>, line 1)

Create a new dataframe by subsetting gdp_df to just the year 2014. Call
this new dataframe gdp_2014.

In [28]:
gdp_2014 = nngdp_df.groupby("Years")["2014"]

KeyError: 'Column not found: 2014'

Use .describe() to find the summary statistics for GDP per capita in
2014

In [86]:
gdp_2014.describe()

         GDP                                                       \
       count          mean           std         min          25%
Years
1990   210.0  11696.356577  14337.793231  473.401824  2597.226117
1991   211.0  11679.994289  14308.063450  483.902639  2495.276725
1992   213.0  11673.677968  14347.694343  438.643111  2513.593298
1993   215.0  11667.477603  14241.596521  466.021733  2425.667118
1994   218.0  11738.720313  14444.561275  477.314694  2357.090120
1995   224.0  12190.934025  15237.057176  471.202662  2424.146036
1996   224.0  12451.692082  15371.054559  508.334080  2644.903722
1997   226.0  13029.679505  15930.715628  550.707470  2792.455254
1998   227.0  13552.779697  16569.114061  589.963533  2879.597911
1999   228.0  13812.650272  16704.785960  602.721799  2960.838134
2000   236.0  14578.355891  18071.607700  572.812645  2978.358343
2001   237.0  14690.076270  18043.728421  545.466047  2987.848727
2002   238.0  14808.410471  18115.076599  545.295848  2848.823614
2003   238.0  15137.506525  18400.847837  558.315350  3018.337916
2004   238.0  15781.288389  19056.568761  577.483297  3142.593379
2005   238.0  16216.114591  19126.665578  593.703717  3275.303977
2006   238.0  16850.659250  19668.354876  605.488092  3434.886041
2007   239.0  17383.697020  19962.610210  622.743609  3545.436494
2008   240.0  17470.581798  19633.440108  640.079810  3625.738439
2009   241.0  16842.975309  18406.827148  636.875743  3816.165070
2010   241.0  17214.279414  18831.523966  659.795884  3912.603596
2011   243.0  17478.915921  19284.895698  682.007332  3870.631193
2012   241.0  17789.991675  19306.869683  706.367203  4114.227664
2013   241.0  17975.384185  19459.097051  674.589742  4241.185040
2014   240.0  18034.303556  19320.930599  672.681648  4301.187365
2015   240.0  18168.228228  18877.832991  697.327495  4409.918293
2016   239.0  18446.958446  18949.933609  689.014892  4604.606307
2017   239.0  18750.296967  19214.461071  670.777072  4708.161529
2018   226.0  18774.679582  19466.723714  660.330341  4563.910506


                50%           75%            max
Years
1990    5894.801861  14518.723117  112349.597967
1991    5997.707860  14780.193330  106956.142032
1992    6011.334967  14686.400906  104302.087362
1993    6223.572362  14383.398747   99773.318131
1994    6106.571847  14583.109798  101017.748526
1995    6266.973861  14121.692011  102387.224757
1996    6475.993126  14707.202711  103032.432941
1997    6723.773482  15742.873742  105953.226103
1998    7024.693248  15959.903656  100904.474777
1999    7319.976650  17110.754592   98483.117672
2000    7570.596768  17840.352876  108287.154078
2001    7763.884650  17774.115950  108384.259928
2002    7833.447096  17869.678239  111481.727774
2003    8097.007808  19196.284516  108688.916552
2004    8498.418749  20466.259388  117271.427067
2005    8821.220910  21688.023919  109732.194997
2006    9498.490410  22988.079834  117155.588092
2007   10268.477397  23798.302483  116022.746171
2008   10453.374294  24361.108995  115779.483867
2009   10357.034930  22337.652506  112525.718267
2010   10440.964953  22994.692512  119973.553489
2011   11040.109485  22958.765037  124024.568165
2012   11548.332993  24018.818497  124235.719241
2013   11734.201137  23746.084556  134959.989044
2014   11868.067810  24388.408410  130439.106674
2015   12209.123228  25235.858754  115940.027212
2016   12820.367497  25634.010443  114455.787149
2017   12595.385900  26328.287906  113262.181553
2018   12936.289561  26003.910411  112599.972537

Create a histogram of GDP Per Capita numbers for 2014 (you may wish
to adjust the number of bins for your histogram). How would you describe
the shape of the distribution?

Find the top 5 counties and bottom 5 countries by GDP per capita in
2014.

Now, return to the full dataset, gdp_df. Pivot the data for 1990 and 2017
(using the pandas .pivot_table() method or another method) so that
each row corresponds to a country, each column corresponds to a year,
and the values in the table give the GDP_Per_Capita amount. Drop any
rows that are missing values for either 1990 or 2017. Save the result to a
dataframe named gdp_pivoted.

In [32]:
nngdp_df.pivot_table(values='Years', index='Country',dropna=True)

DataError: No numeric types to aggregate

Create a new column in gdp_pivoted named Percent_Change. This
column should contain the percent change in GDP_Per_Capita from 1990
to 2017. Hint: Percent change is calculated as 100*(New Value - Old
Value) / Old Value.

In [ ]:
gdp_pivoted

#margins in pivot table

How many countries experienced a negative percent change in GDP per
capita from 1990 to 2017?

Which country had the highest % change in GDP per capita? Create a
line plot showing this country’s GDP per capita for all years from 1990
to 2017. Create another showing the country with the second highest %
change in GDP. How do the trends in these countries compare?
Bonus: Put both line charts on the same plot.

Read in continents.csv contained in the data folder into a new dataframe
called continents. We will be using this dataframe to add a new column
to our dataset.

In [31]:
continents = pd.read_csv("continents.csv")

Merge gdp_df and continents. Keep only the countries that appear in
both data frames. Save the result back to gdp_df.

Determine the number of countries per continent. Create a bar chart
showing this

Creat a seaborn boxplot showing GDP per capita in 2014 split out by
continent. What do you notice?

Read in internet_use.csv into a DataFrame called internet_df. You will
most likely get an error message when doing this - figure out what is going
wrong and fix it. Take a look at the first and last five rows and make any
corrections to your read_csv() call to fix this. Again, do not modify the
original datasets.

In [35]:
internet_df = pd.read_csv("UNInternetusage.csv", error_bad_lines=False)

b'Skipping line 4675: expected 4 fields, saw 6\n'

Drop the Value Footnotes column and then rename the columns to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [37]:
internet_df.head()

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN

In [38]:
internet_df = ngdp_df.drop("Value Footnotes", axis=1)